<h2>Todos page</h2>

{{#if todos.length}}
<ul>




  {{#each todos}}
  <li class="todo">
    <label>
      {{#if completed}}

      <input class="true" type="checkbox" checked>
      <span>true</span>
      <span class="completed">{{this.title}}</span>
      {{else}}
      <input class="false" type="checkbox">
      <span>false</span>
      <span>{{this.title}}</span>
      {{/if}}
      <button class="btn btn-small">Save</button>
    </label>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No TODOS!!!!</p>
{{/if}}


<span>{{todos}}</span>