<h2>Todos page</h2>

{{#if todos.length}}
<ul>




  {{#each todos}}
  <li class="todo">
    <form action="/complete" method="post">
      <label>
        {{#if completed}}

        <input class="true" type="checkbox" checked name="completed">
        <span>true</span>
        <span class="completed">{{this.title}}</span>
        {{else}}
        <input class="false" type="checkbox" name="completed">
        <span>false</span>
        <span>{{this.title}}</span>
        {{/if}}

        <input type="hidden" value={{_id}} name="id">

        <button class="btn btn-small" type="submit">Save</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No TODOS!!!!</p>
{{/if}}